* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dark {
  background-color: #3e3e4a;
}

button {
  cursor: pointer;
}